<!doctype html>
<html>
<title style="text-align:center "background-color: red">
Bir blogger hakkinda
</title>
<body>
<h1>About the blog page</h1>
<p style="color:red;">. This blog page contains lots of subjects such as;<br> sports, life, fashion, fine arts etc.<br>
  The membership prerequisite is to be older than 18.<br>
  This is because that adult content may be shared<br>(such as bad jokes and art that may include some nudity).<br> This is why an age limitation occurs. <br>
  </p>
</body>
</html>
