<h1>Welcome to Alpha-Blog</h1>
<p>This blog site only contains blog documents about cooking, cars and sports.<br>this page is aiming to gicve informattion about lots of things</p>

<%= link_to "Home", pages_home_path %>
