<!doctype HTML>
<title style="text-align:center;">>What a title it was</title>
<body style="background-color: red">
<h1> Welcome to the Beta-Blog Home Page (Beta Blog Ana Sayfasina Hosgeldiniz!!)</h1>
<p>I am hoping to share beautiful blogs with rich content. This blog site is going to start to accept new members soon.</br>
</body>
<%= link_to "About", about_path %>
<%= link_to image_tag('deneme.jpg'), 'www.mashrurhossain.com' %>
