<!doctype HTML>
<title>What a title it was</title>
<body style="background-color: red">
<h1> ALPHA-BLOG (more than an alpha dog)</h1>
<p>Welcome to the alpha blog; the best blogging site of all of the universe!<br>I mean we are going to be...Thanks in advance!!!</br>
</body>
<%= link_to "About", pages_about_path %>
