<!doctype HTML>
<title style="text-align:center;">>What a title it was</title>
<body>
<body style="background-color: red">
<h1>Welcome to the Alpha Blog home page</h1>
</body>
<%= link_to "Let's start blogging", articles_path %> | <%= link_to "About us", about_path %>
